@font-face {
    font-family: 'gouden_draak_header';
    src: url('../fonts/gouden_draak_header.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mirror-horizontal {
  transform: scaleX(-1);
}

.hidden-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}
