@font-face {
    font-family: 'gouden_draak_header';
    src: url('../fonts/gouden_draak_header.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mirror-horizontal {
  transform: scaleX(-1);
}

.hidden-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

// For whatever reason Bootstrap Vue doesn't have this class even though Bootstrap does 🤷
.ml-auto {
  margin-left: auto;
}

//For making blocks with content in the website
.content-background {
  background-color: floralwhite;
  border: 1px solid black;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh 5vw;
}
